<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructor's dashboard </title>
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}">
    <!--===========================================================================================================-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--===========================================================================================================     -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- =============================================================================================================    -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <!-- =======================================================================================================    -->
    <link th:href="@{/css/dashboard.css}" type="text/css" rel="stylesheet">

</head>
<body>
<div class="limiter">
    
    <div class="d-flex" id="wrapper">
        <!-- Side bar section -->
        <div class="bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
                <i class="fa fa-user me-2"></i> Instructor
            </div>

            <div class="list-group list-group-flush my-3">
                <a href="/api/instructor/lec-dashboard" class="list-group-item list-group-item-action bg-transparent second-text active border">
                    <i class="fa fa-tachometer-alt me-2"></i> Dashboard
                </a>
                <a href="/api/instructor/lec-profile" class="list-group-item list-group-item-action bg-transparent second-text fw-bold border">
                    <i class="fa fa-user me-2"></i> Profile 
                </a>
                <a href="/api/instructor/list-of-learners" class="list-group-item list-group-item-action bg-transparent second-text fw-bold border">
                    <i class="fa fa-users me-2"></i> Learners 
                </a>
                <a href="/api/instructor/announcements" class="list-group-item list-group-item-action bg-transparent second-text fw-bold border">
                    <i class="fa fa-comment-dots me-2"></i> Announcements
                </a>
                <a href="/api/instructor/calendar" class="list-group-item list-group-item-action bg-transparent second-text fw-bold border">
                    <i class="fa fa-calendar me-2"></i> Calendar
                </a>
                <a href="/api/instructor/assessment" class="list-group-item list-group-item-action bg-transparent second-text fw-bold border">
                    <i class="fa fa-tachometer-alt me-2"></i> Create Exams
                </a>
<!--                <a href="/api/instructor/lec-report" class="list-group-item list-group-item-action bg-transparent second-text fw-bold border">-->
<!--                    <i class="fa fa-chart-line me-2"></i> Report-->
<!--                </a>-->
                <a href="/api/instructor/results" class="list-group-item list-group-item-action bg-transparent second-text fw-bold border">
                    <i class="fa fa-file me-2"></i> Results
                </a>
                <a href="/api/main/logout" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold">
                    <i class="fa fa-sign-out me-2"></i> Logout
                </a>

            </div>

        </div>
        <!-- Side bar section -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-3 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-left fs-4 me-3" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0"><b style="color: black;">Online Exams</b></h2>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>                             
                </button>

                <!-- Drop down list in boostrap -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-3 ml-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="/api/main/online-help" class="nav-link second-text fw-bold" target="_blank">
                                <i class="fas fa-question-circle me-2"></i> Help
                            </a>
                        </li>
                        <li class="nav-item-dropdown">
                            <a href="#" class="nav-link dropdown-toggle second-text fw-bold px-3" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user me-2"></i> [[${firstName}]] [[${lastName}]]
                            </a>
                            <ul class="dropdown-menu px-3" aria-labelledby="navbarDropdown" >
                                <li>
                                    <a href="/api/main/logout" class="dropdown-item">
                                        <i class="fa fa-sign-out me-2"></i> Logout
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <br>
                <br>
                <br>
                <!-- ============    Search Bar ======================== -->

                <!-- ============ // Search Bar ======================== -->
            </nav>

        <!-- Body section -->

            <!--		For sending alerts about the errors on the forms-->
            <div class="row text-center">
                <div class="col-md-12">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
<!--                            Welcome: [[${firstName}]] [[${lastName}]]-->
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                </div>
            </div>
<!--            //alerts -->
            <!-- Content Body -->
            <div class="container-fluid px-4 overview-boxes image-cover" style="background-image: url('/images/laptop-plan-view.jpg');">
                <h3 style="color: black;"> <b>Overview:</b> </h3>
                <div class="row g-3 my-2">
                    <div class="col-md-3">
                        <a href="/api/instructor/list-of-learners">
                        <div class="p-5 bg-info shadow-lg d-flex justify-content-around align-items-center rounded">
                            <div>
                                <h4 class="fs-2"> Enrolled</h4>
                                <p class="fs-5"> Learners </p>
                            </div>
                           <i class="fas fa-user fs-1 primary-text border rounded full secondary-bg p-3"></i>
                        </div>
                        </a>

                    </div>

                    <div class="col-md-3">
                        <a href="/api/instructor/assessment">
                        <div class="p-5 bg-info shadow-lg d-flex justify-content-around align-items-center rounded">
                            <div>
                                <h4 class="fs-2"> Exams</h4>
                                <p class="fs-5"> Create </p>
                            </div>
                            <i class="fas fa-chart-line fs-1 primary-text border rounded full secondary-bg p-3"></i>
                        </div>
                        </a>

                    </div>
                    <div class="col-md-3">
                        <a href="/api/instructor/results">
                        <div class="p-5 bg-info shadow-lg d-flex justify-content-around align-items-center rounded">
                            <div>
                                <h4 class="fs-2"> Exams</h4>
                                <p class="fs-5"> Results </p>
                            </div>
                            <i class="fa fa-file fs-1 primary-text border rounded full secondary-bg p-3"></i>
                        </div>
                        </a>

                    </div>
                    <div class="col-md-3">
                        <a href="/api/instructor/calendar">
                        <div class="p-5 bg-info shadow-lg d-flex justify-content-around align-items-center rounded">
                            <div>
                                <h4 class="fs-2"> Exams</h4>
                                <p class="fs-5"> Calendar </p>
                            </div>
                            <i class="fas fa-calendar fs-1 primary-text border rounded full secondary-bg p-3"></i>
                        </div>
                        </a>
                    </div>
                </div>
                <br>
                <br>
<!--            </div>-->

            <!-- Corousel class -->
<!--            <div class="container-fluid">-->
                <div class="row" id="couresel">
                    <div class="col-md-12">
                        <div>
                            <!--  -->
                            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 0"></button>

                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/images/download.jpeg" class="d-block w-150" width="300" height="200" alt="Online Examination">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h3 style="color:black;"><b>Online Examination Platform </b></h3>
                                            <h5 style="color:black;">Eliminating the need for physical meet up!</h5>
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <img src="/images/ticking-clock.jpg" class="d-block w-150" width="300" height="200" alt="Online Examination">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h3 style="color: black;"><b>Examination Timing</b></h3>
                                            <h5 style="color: black">Time your assessments with an automatic submission!</h5>
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <img src="/images/Monitor.jpeg" class="d-block w-150" width="300" height="200" alt="Conveniently Monitor exams from the comfort of your room">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h3 style="color: 	black;"> <b>Convenient!</b></h3>
                                            <h6 style="color:	black;"> Easily and Conveniently Monitor Assessments from the comfort of your room</h6>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/images/reports1.jpeg" class="d-block w-150" width="300" height="200" alt="Reports and Results">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h3 style="color:black;"><b>Results & Reports</b></h3>
                                            <h5 style="color: black;">Instantly Post results/reports to your Students!</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        var el = document.getElementById("wrapper")
        var toggleButton = document.getElementById("menu-toggle")

        toggleButton.onclick = function () {
            el.classList.toggle("toggled")
            
        }
    </script>
<!--===============================================================================================-->
<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
<script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/alert.js}"></script>
<script th:src="@{/js/util.js}"></script>
<!--=================================================================================================-->

</body>

</html>
